.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 40px auto;
  &__line {
    width: 100%;
    height: 52px;
    border-radius: 3px;
    border: solid 1px #cfd1d785;
    background-color: #ffffff;
    transition: all .4s cubic-bezier(.56,1.19,.2,1.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: left;
    margin-bottom: 10px;
    padding: 0px 20px;
    cursor: pointer;
    position: relative;
    &:hover {
      box-shadow: 0 23px 40px 0 rgba(101, 108, 141, 0.17);
    }
    &--unstyle {
      height: auto;
      background: transparent;
      box-shadow: none;
      border: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:hover {
        border: none;
        box-shadow: none;
      }
    }
    .last-item {
      width: 100px;
      float: right;
      text-align: right;
      display: flex;
      justify-content: flex-end;
    }
    > td {
      width: 16%;
      color: #777a8a;
      font-size: 13px;
    }
  }
}

.collapser {
  float: left;
  box-shadow: 0 23px 40px 0 rgba(6, 23, 81, 0.3);
  background-color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0px 20px;
  top: 53px;
  z-index: 999;
  padding: 26px 40px;
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,.3);

  &__close {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    top: 20px;
    background: #3498db;
    font-weight: bold;
    color: #fff;

    &:hover {
      background: #2980b9;
    }
  }
}